@import url(http://fonts.googleapis.com/css?family=Montserrat|Crimson+Text|Great+Vibes);
* {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}

*:before {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1.2em;
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
}

body {
  color: rgba(0, 0, 0, 0.75);
  background: #F1F1E4;
  margin: 0;
  font-family: "Crimson Text", serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  text-rendering: auto;
}

/* Anchors */
a {
  color: #DC3535;
  text-decoration: none;
  text-rendering: optimizelegibility;
  outline: 0;
  display: inline-block;
}

a:focus, a:active, a:hover {
  outline: 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height:1em;
}

h1 {
  font-size: 280%;
  font-weight: normal;
}

h2 {
  font-size: 200%;
  font-weight: normal;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 125%;
}

h5 {
  font-size: 110%;
}

h6 {
  font-size: 100%;
}

b, strong {
  font-weight: bold;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1em 0;
  padding: 0;
}

p {
  margin: 1em 0;
}

menu, ul, ol {
  margin: 0;
  padding: 0;
}

menu, ul {
  list-style-image: none;
  list-style: none;
}

nav ul {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* --- Psuedo classes ----*/
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #444;
  font-size: 16px;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #444;
  font-size: 16px;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #444;
  font-size: 16px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #444;
  font-size: 16px;
}

::-moz-selection {
  background: #f05;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #f05;
  color: #fff;
  text-shadow: none;
}

::selection:window-inactive {
  background: #eaeaea;
  color: #000;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 1000px #FBFBFB inset;
}



/* ----- Header CSS -----------*/
header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  background-color: #4900ed;
  animation: rgb 60s infinite alternate;
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 190px;
  padding-top: 20px;
  text-align: center;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

header .headerPic {
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

header .navPic {
  position:relative;
  display:none;
  text-align:center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  background-color:#0ac;
  /*animation: rgb 120s infinite alternate; */
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);  
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.nav {
  height: 64px;
}

.nav .headerPic {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  visibility: hidden;
  height: 0;
  width: 0;
}

.nav .navPic {
  display: inline-block;
  height:81px;
  border-radius: 50%;
  width:81px;
  border: #F1F1E4 solid 3px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);  
}

@keyframes rgb {
  10% {
    background-color: #EE6B02;
  }
  20% {
    background-color: #EE0602;
  }
  30% {
    background-color: #EE0276;
  }
  40% {
    background-color: #9e02EE;
  }
  50% {
    background-color: #022Cee;
  }
  60% {
    background-color: #029dEE;
  }
  70% {
    background-color: #02EEaa;
  }
  80% {
    background-color: #02ee18;
  }
  90% {
    background-color: #43ee02;
  }
  100% {
    background-color: #a8ee02;
  }
}

/* Github ribbon */
.ribbon-wrap {
  position: fixed;
  width: 275px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-color: #a00;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 45px solid #a00;
  box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.5);
  z-index: 999999;
  height: 60px;
}

.ribbon-wrap.right {
  left: inherit;
  right: -65px;
  top: 45px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ribbon-wrap .trap-ribbon {
  position: absolute;
  left: -28px;
  top: 17px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.7);
  width: inherit;
  text-align: center;
  height: 40px;
}

.ribbon-wrap .trap-ribbon a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #d8d8d8;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  padding:6px;
  line-height: 22px;
  margin:0 0 0 -45px;
  display: inline-block;
  border-top: 1px dotted rgba(255, 255, 255, 0.7);
  transition: color 500ms ease;
}

.ribbon-wrap .trap-ribbon a:hover {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.85);
}


/* -- Footer -- */
.legend {
  justify-content: center;
  align-items: center;
  border-color: #b6daf2;
  background-position: bottom bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 10vh;
  font-size: 85%;
}

menu.foot-menu li {
  margin: 3px;
}

menu.foot-menu li a {
  font-size: 90%;
  padding: 0 10px;
}

/* ----- Body Container Context -----*/
main {
  margin-top: 190px;
}


h1.pitch {
  font-size: 500%;
  margin-top: 2vw;
}

.wrapper{
  min-height:auto;
  padding:3em 0;
}

/* ----- Buttons ------*/
.tryIt {
  width: 250px;
  margin: 2vh auto;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding: 15px 30px;
  transition: all 0.3s;
  font-weight: 700;
}

.tryIt:hover {
  box-shadow: -5px 5px 0 #39393B;
}

.red{
  background: #DC3535;
}

.light-gray{
  background: #777;
}

/* ----- Uncomplicated single-point media query break, again courtesy: toucaan.css ------*/
@media (max-width: 870px) {
  body .hide-on-mobiles {
    display: none;
  }
  body .display-on-mobiles {
    display: inline-block;
  }
  body .divide-in-half {
    width: 90vw;
  }
  body .one-half {
    width: 100%;
  }
  body .one-third {
    width: 100%;
  }
  body .two-third {
    width: 100%;
  }
  body .shrink {
    width: 95%;
  }
}

@media (min-width: 871px) {
  body .hide-on-mobiles {
    display: marker;
  }
  body .display-on-mobiles {
    display: none;
  }
  body .divide-in-half {
    width: 55vw;
  }
  body .one-half {
    width: 50%;
  }
  body .one-third {
    width: 33.33333%;
  }
  body .two-third {
    width: 66.66666%;
  }
  body .shrink {
    width: 90%;
  }
}

/* --- Resusable classes from Toucaan.css */
.left {
  float: left;
  left: 0;
}

.right {
  float: right;
  right: 0;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.centerize {
  margin: 0 auto;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0px;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fold {
  min-height: calc(90vh - 45px);
  max-width: 100vw;
}

/* -- Push aside, out & away ---*/
.side-gap {
  margin-right: 5px;
  margin-left: 5px;
}

.top-gap {
  margin-top: 20px;
}

.double-top-gap {
  margin-top: 40px;
}

.bottom-gap {
  margin-bottom: 20px;
}

.double-bottom-gap {
  margin-bottom: 40px;
}

.pad {
  padding: 0.5em 1em;
}

.pad-vertically {
  padding: 1em 0;
}

.pad-horizontally {
  padding: 0 1em;
}

/* -- Text --*/
.justify {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.italics {
  font-style: italic;
}

.transience {
  transition: all 1s ease 0s;
}

.rotate {
  transform: rotate(180deg);
}

ul.horizontal-list li {
  float: left; margin: 20px;
}

.sub-list ol li {
  list-style-type: disc;
}

/* ---- Color ----- */
.gray {
  background: #39393b none repeat scroll 0 0;
}

.white-text {
  color: white;
}

/* ----- Typography -----*/
.extra-large {
  font-size: 150%;
  padding: 0.5em 1.6em 0.55em;
}

.large {
  font-size: 120%;
  padding: 0.5em 1.6em 0.55em;
}

.medium {
  font-size: 100%;
  padding: 0.5em 1.4em 0.6em;
}

.standard {
  font-size: 90%;
  padding: 0.4em 1.6em;
}

.small {
  font-size: 80%;
  padding: 0.25em 0.5em 0.4em;
}

.extra-small {
  font-size: 75%;
  padding: .4em 0;
}

.super-small {
  font-size: 70%;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.strike {
  color: #777;
  text-decoration: line-through;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.great-vibes {
  font-family: 'Great Vibes', cursive;
}


.monospace {
  font-family: monospace;
  background: rgba(100, 100, 100, 0.2);
  color: #ee5;
  padding: 3px 2px 3px 12px;
  border-radius: 2px;
  margin: 2px;
}

.monospace-white {
  font-family: monospace;
  background: rgba(100, 100, 100, 0.1);
  color: #eee;
  padding: 3px 3px 3px 12px;
  border-radius: 2px;
  margin: 2px;
}


.terminal {
  background-color: black;
  color: #55ff55;
  border: 1px solid #666;
  padding: 20px 50px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 18px;
  white-space: nowrap;
  overflow-x: auto;
  text-align: left;
}

.prompt {
  background: #55ff55;
  height: 1em;
  width: 0.75em;
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}


@-webkit-keyframes blink {
  0% {
    background: #55ff55;
  }
  49% {
    background: #55ff55;
  }
  50% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}

@keyframes blink {
  0% {
    background: #55ff55;
  }
  49% {
    background: #55ff55;
  }
  50% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}

/* --- Feature cards ----*/

.card {
  height:400px;
}

.symbol-plate {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
  width: 60px; height: 60px;
  margin: 0px auto 20px;
  border-radius: 50%;
}

.symbol {
  width: 59px; height: 59px;
  border-radius: 50%;
  font-size:25px;
  color: white;
  background:rgba(255, 255, 255, 0.1);
}

.one {
  background-color: rgba(0, 155, 255, 0.9);
/*  animation: rgb 60s infinite alternate;
  animation-delay: 0s; */
}

.two {
  background-color: rgba(0, 155, 0, 0.9);
/*  animation: rgb 60s infinite alternate;
  animation-delay: 5s; */
}

.three {
  background-color: rgba(255, 0, 0, 0.9);  
  
/*  animation: rgb 60s infinite alternate;
  animation-delay: 10s; */
}

.four {
  background-color: rgba(255, 50, 155, 0.9);
/*  animation: rgb 120s infinite alternate;
  animation-delay: 3s; */
}

.five {
  background-color: rgba(255, 155, 0, 0.9);
/*  animation: rgb 120s infinite alternate;
  animation-delay: 8s; */
}

.six {
  background-color: rgba(0, 100, 255, 0.9);
/*  animation: rgb 120s infinite alternate;
  animation-delay: 13s; */
}


/* -- Footer -- */

.legend {
  background-position: bottom bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  font-size: 85%;
}

.foot-menu li {
  margin: 3px;
  a {
    font-size: 90%;
    padding: 0 10px;
  }
}

.jagged-border {
  position: relative;
  width: 100%;
}

.jagged-border:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}

.lightgray-bg {
  background: #ECF0F1;
}

.lightgray-bg:before {
  background: -webkit-linear-gradient(45deg, transparent 33.333%, #ecf0f1 33.333%, #ecf0f1 66.667%, transparent 66.667%), -webkit-linear-gradient(135deg, transparent 33.333%, #ecf0f1 33.333%, #ecf0f1 66.667%, transparent 66.667%);
  background: linear-gradient(45deg, transparent 33.333%, #ecf0f1 33.333%, #ecf0f1 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #ecf0f1 33.333%, #ecf0f1 66.667%, transparent 66.667%);
  -webkit-background-size: 20px 40px;
  background-size: 20px 40px;
}

.white-bg {
  background: #FFF;
}

.white-bg:before {
  background: -webkit-linear-gradient(45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%), -webkit-linear-gradient(135deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%);
  background: linear-gradient(45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%);
  -webkit-background-size: 20px 40px;
  background-size: 20px 40px;
}


/* -- handler classes -- */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}


.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}


.invisible {
  visibility: hidden;
}

.clearfix {
  &:before {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  &:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
    clear: both;
  }
  *zoom: 1;
}